.header {
    position: fixed;
    width: 100%;
    top: 0; left: 0;
    display: flex;
    padding: 10px;
    height: 70px;
}
.header.absolute {
    position: absolute;
}

.header .logo-svg {
    height: 50px;
}

.header > .right, .header > .left {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.header > .left {
    justify-content: flex-start;
}

.header .corner-icon {
    font-size: 50px;
    color: var(--main-color1);
    cursor: pointer;
    transition: color 300ms ease;
}
.header .corner-icon:hover {
    color: var(--main-color2);
}

section.login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

section.login .login-form-wrap {
    background-color: var(--main-color3);
    margin-top: 5px;
    border-radius: 5px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 300ms ease;
    width: 350px;
}
section.login .login-form-wrap.show {
    max-height: 500px;
}

section.login .login-form-wrap form {
    padding: 20px 40px;
}

@media all and (max-width: 420px) {
    .header {
        display: block;
    }

    .header > .right {
        position: fixed;
        top: 0; right: 0;
        padding: 10px;
        width: 100%;
    }

    section.login .login-form-wrap, section.login {
        width: 100%;
    }
}