@font-face {
  font-family: myfont;
  font-weight: normal;
  src: url("files/Avenir-Roman.ttf");
}

@font-face {
  font-family: myfont;
  font-weight: bold;
  src: url("files/Avenir-Heavy.ttf");
}

@font-face {
  font-family: myfont;
  font-weight: bold;
  font-style: italic;
  src: url("files/Avenir-HeavyOblique.ttf");
}

@font-face {
  font-family: myfont;
  font-style: italic;
  src: url("files/Avenir-BookOblique.ttf");
}

:root {
  --main-color1: rgb(194, 112, 56);
  --main-color2: rgb(247,241,118);
  --main-color3: rgb(242, 220, 202);

  --disabled-color: rgba(194, 112, 56, 0.4);
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Avenir", myfont, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

section.page.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw; height: 100vh;
}

h1 {
  font-weight: normal;
  font-size: 2em;
  color: var(--main-color1);
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

h1 span {
  width: 20px; height: 20px;
  border-radius: 100%;
  background-color: var(--main-color2);
  display: block;
  margin-right: 10px;
}

h3 {
  font-weight: bold;
  margin-top: 0;
  color: var(--main-color1);
}

a, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

.big-loading {
  position: fixed;
  width: 100vw; height: 100vh;
  max-height: 100vh;
  background-color: var(--main-color3);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: max-height 500ms ease;
  overflow: hidden;
}

.big-loading.hide {
  max-height: 0;
}

.big-loading svg {
  width: 100px;
}

.not-found-wrap {
  padding: 30px;
  border: 3px solid var(--main-color1);
  border-radius: 10px;
  color: var(--main-color1);
}

.confirmation-loading {
  display: flex;
  align-items: center;
}
